.login-container{
    width: 400px;
    margin-top: 50px;
    text-align: center;
    padding: 20px 10px;
}

p{
    margin: 10px 0 !important;
}

.fa-small{
    font-size: 12px Imp !important;
}

.btn-float{
    float: left;
    margin-right: 10px;
}

form#delete-form {
    float: right !important;
}